/* Wird sowohl bei Datenschutz als auch Impressum verwendet */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    /* outline: 1px solid red; */
}

html{
    scroll-behavior: smooth;
}

body{
    /*  */
}

.spacer{
    height: 20px;
}

.spacer-md{
    height: 40px;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
    font-weight: 500;
}

.bold{
    font-weight: bold;
}


/* Navigation */
.logo{
    width: 150px;
}

.nav-logo{
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    padding: 20px 0;
    border-bottom: 1px solid black;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #737373;
    text-decoration: none;
}

.nav-links a:hover{
    color: #7aac2d;
    text-decoration: none;
}

/* Impressum */

.impressum{
    padding: 0rem 18rem;
    text-align: justify;
    line-height: 1.5;
}

.owner-section{
    display: flex;
    padding: 2rem 18rem;
    flex-direction: row;
    justify-content: space-between;
}

li{
    list-style: none;
}

footer{
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
    background-color: #f8f9fa;
    color: black;
}

footer a{
    font-family: 'Noto Sans', sans-serif;
    color: black;
}

footer p{
    font-family: 'Noto Sans', sans-serif;
}